.corPreto
{
    background-color: #000000;
	height: auto;
	margin-bottom: 15px;
}
.corCinza
{
    background-color: silver;
	height: 175px;
	margin-bottom:15px;
	
}
.corAzul
{
    background-color: silver;
	height: auto;
	margin-bottom:15px;
}
.corCinza .img-responsive {
    margin: 0 auto;
	height: 175px;
	width: 100%;
}
.h2{
   color:azure; 
}
